@import "colors";
@import "fonts";
@import "layout";

html, body, h1 { padding: 0; margin: 0; box-sizing: border-box; }

body {
  @extend %body-font;
}

header {
  padding: 4rem 0 2rem;
  line-height: 0;
  text-align: center;
  background-color: black;
  .logo { @extend %page-width; }
  img { width: 100%; }
}
