@import "colors";
@import "text";
@import "forms";
@import "layout";
@import "responsive_images";

@import "components/button";
@import "components/person_list";

html, body, h1, h2, h3, p, ul, ol, li {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1;
  box-sizing: border-box;
}

html {
  font-size: 21px;
  background-color: $page-color;
  @extend %body-font;
}

a {
  color: $text-color;
}
