$bright-orange: #ff8400;
$orange: #964723;
$dark-orange: #7c2f0f;
$slighty-lighter-dark-orange: #883715;
$light-dark-orange: #c68d75;
$lighter-dark-orange: #d5a089;
$grey: #999;
$lighter-grey: #000;
$tinted-white: #ffeedb;