// Colors

$light-text-color: $grey;
$text-color: $dark-orange;
$heading-color: $bright-orange;
$link-color: $orange;
$link-hover-color: $bright-orange;

// Families

$text-font-family: 'Adobe Garamond Pro';

// Sizes

$body-font-size: 1.4rem;
$big-body-font-size: 2.15rem;
$small-body-font-size: 1.25rem;

// Shared styles

%body-font {
  font-family: $text-font-family;
  font-size: $body-font-size;
  color: $text-color;
}

%heading-font {
  font-style: italic;
  font-weight: 300;
  color: $bright-orange;
}
