// Colors

$very-light-text-color: $lighter-grey;
$light-text-color: $grey;
$text-color: $dark-orange;
$heading-color: $bright-orange;

$link-color: $orange;
$link-hover-color: $bright-orange;

$link-on-orange-color: $slighty-lighter-dark-orange;
$link-on-orange-hover-color: $lighter-dark-orange;

// Families

$text-font-family: 'Hoefler Text A', 'Hoefler Text B', serif;
$text-font-family-small-caps: 'Hoefler Text Small Caps A', 'Hoefler Text Small Caps B', serif;
$heading-font-family: 'Hoefler Titling A', 'Hoefler Titling B', serif;
$heading-font-family-swash: 'Hoefler Titling Swash A', 'Hoefler Titling Swash B', serif;

// Sizes

$body-font-size: 1.3rem;
$big-body-font-size: 2.15rem;
$small-body-font-size: 1.25rem;

// Shared styles

%body-font {
  font-family: $text-font-family;
  font-size: $body-font-size;
  line-height: 1.5;
  color: $text-color;
}

%feature-font {
  font-family: $heading-font-family;
  font-style: italic;
  font-weight: 300;
  &:first-letter {
    font-family: $heading-font-family-swash;
  }
}

%subheading-font {
  font-family: $text-font-family-small-caps;
  font-style: normal;
  font-weight: 400;
  text-transform: lowercase;
}

%link-on-orange {
  color: $link-on-orange-color;
  &:hover {
    color: $link-on-orange-hover-color;
  }
}