// Colors

$light-text-color: $grey;
$text-color: $dark-orange;
$heading-color: $bright-orange;
$link-color: $orange;
$link-hover-color: $bright-orange;

// Families

$text-font-family: 'Adobe Garamond Pro';

// Shared styles

%body-font {
  font-family: $text-font-family;
  font-size: 1.4rem;
  color: $text-color;
}

%heading-font {
  font-style: italic;
  font-weight: 300;
  color: $bright-orange;
}
