input[type='email'], input[type='submit'] {
  display: block;
  width: 100%;
  padding: .75rem 1rem;
  font: 300 $body-font-size/1 $text-font-family;
  color: white;
  background-color: $dark-orange;
  border: none;
  border-radius: 3px;
  box-shadow: none;
  transition: background-color 200ms;
  -webkit-appearance: none;
  &:focus {
    outline: none;
    box-shadow: 0 0 5px 3px rgba($tinted-white, .5);
  }
}

input[type='email'] {
  &::placeholder {
    color: $light-dark-orange;
    transition: color 200ms;
  }
  &:hover {
    &::placeholder {
      color: $lighter-dark-orange;
    }
  }
}

input[type='submit'] {
  width: auto;
  font-family: $heading-font-family;
  font-style: italic;
  font-weight: 300;
  cursor: pointer;
}