%centered {
  max-width: 1000px;
  margin-left:auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

body > header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  background-color: rgba($page-color, 0.5);
  position: relative;
  .date {
    line-height: 1;
    span.city { font-size: 13px; text-transform: uppercase; letter-spacing: 2px; }
  }
  .tickets {}
}

body > footer {
  margin-top: 100px;
}

body > header, body > footer {
  @extend %centered;
}