%centered {
  max-width: 1000px;
  margin-left:auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@mixin small-section-illo {
  position: static;
  top: auto;
  left: auto;
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
  background-position: bottom center;
  margin-top: 25px;
}

body > header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  background-color: rgba($page-color, 0.5);
  position: relative;
  @extend %centered;
  @media only screen and (max-width: 600px) { margin-top: 20px; }
  @media only screen and (max-width: 500px) { flex-flow: column wrap; text-align: center; }
  .time {
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 50px;
  }
  .tickets {}
}

body > footer {
  margin-top: 150px;
  background: transparent url(../images/illustrations/footer.svg) center bottom no-repeat;
  background-size: 100%;
  padding-bottom: (390px/1807px) * 100%;
  position: relative;
  @media only screen and (max-width: 500px) { margin-top: 50px; }
  .oh-hai {
    width: 100%;
    margin-bottom: 2.3%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &::before, &::after {
      content: ' ';
      position: absolute;
      bottom: 0;
      padding-top: 5%;
      background-repeat: no-repeat;
      transition: background-position 400ms cubic-bezier(0.840, 0.020, 0.000, 1.630);
    }

    &::before {
      left: 5%;
      width: 6.5%;
      padding-bottom: (297px/1080px) * 100%;
      background-image: url(../images/illustrations/giraffe-1.svg);
      background-position: 0 300%;
      transition-delay: 300ms;
      transition-duration: 550ms;
    }

    &::after {
      left: 9.5%;
      width: 6.5%;
      padding-bottom: (360px/1080px) * 100%;
      background-image: url(../images/illustrations/giraffe-2.svg);
      background-position: 0 210%;
      transition-delay: 100ms;
      transition-duration: 550ms;
    }

    &.active, &:hover {
      &::before {
        transition-delay: 200ms;
        background-position: 0 130%;
      }
      &::after {
        transition-delay: 325ms;
        background-position: 0 130%;
      }
    }

  }

}
