<section id="conference">

  <div class="summary">
    <div class="map"><div><img src="{{assets}}/images/illustrations/map.svg" alt="Map showing Melbourne Australia, 19th April"></div></div>
    <p class="summary">Join us for the first Australian CSSConf, a special single day event dedicated to the latest CSS techniques, tools, and the people that use them.</p>
  </div>

  <section class="speakers">
    <ul class="person-list">
      {{#each speakers}}
        {{> person}}
      {{/each}}
      <li class="-textonly">
        Plus more to be announced…
      </li>
    </ul>
  </section>

  <section class="cfp">
    <h3><img src="{{assets}}/images/headings/call-for-proposals.svg" alt="Call for proposals"></h3>
    <p>...</p>
    <p><a href="{{cfpUrl}}" class="button">Submit a talk</a></p>
  </section>
</section>