<section id="conference">
  <div>
    <div class="summary">
      <div class="map"><div><img src="{{assets}}/images/illustrations/map.svg" alt="Map showing Melbourne Australia, 19th April"></div></div>
      <p class="summary">Join us on April 9 at the historic Melbourne Arts House for the first CSSConf in Aus, a day to bring together the designers and developers creating the future face of the web.</p>
    </div>

    <section class="speakers">
      <ul class="person-list">
        {{#each speakers}}
          {{> person}}
        {{/each}}
        <li class="-textonly">
          Plus more to be announced…
        </li>
      </ul>
    </section>

    <section class="location">
      CSSConf will revolve around the <a href="http://www.thatsmelbourne.com.au/Placestogo/TheatreVenues/AllTheatreVenues/Pages/7467.aspx">Melbourne Arts House</a>, a beautiful nineteenth century building with cobblestone entry ways and a beautiful barrel-vaulted ceiling. It's located at <a href="https://maps.google.com.au/maps?q=Arts+House+Meat+Market,+Blackwood+Street,+Melbourne,+Victoria&hl=en&ll=-37.80146,144.954386&spn=0.006341,0.011673&sll=-37.860283,145.079616&sspn=1.621995,2.988281&oq=melbourne+meat+market&t=m&z=17&iwloc=A">5 Blackwood St, North Melbourne</a>, a short walk from the <a href="http://www.qvm.com.au/">Queen Victoria Market</a> and trams heading in and out of the city.
    </section>

    <section class="cfp">
      <h3>Call for proposals</h3>
      <div>
        <p class="about">We want to hear about the amazing things you are doing, building, making, and thinking—so long as it involves CSS and/or the web! Submissions for talk proposals close on Friday, <date datetime="2014-04-08">February 21</date>.</p>
        <p class="submit"><a href="{{cfpUrl}}" class="button">Submit a talk</a></p>
      </div>
    </section>

    <section class="location">
      <h3>Location</h3>
      <div>
        <p>The <a href="http://www.thatsmelbourne.com.au/Placestogo/TheatreVenues/AllTheatreVenues/Pages/7467.aspx">Melbourne Arts House</a> is a beautiful nineteenth century building with cobblestone entry ways and a beautiful barrel-vaulted ceiling. It's located at <a href="https://maps.google.com.au/maps?q=Arts+House+Meat+Market,+Blackwood+Street,+Melbourne,+Victoria&hl=en&ll=-37.80146,144.954386&spn=0.006341,0.011673&sll=-37.860283,145.079616&sspn=1.621995,2.988281&oq=melbourne+meat+market&t=m&z=17&iwloc=A">5 Blackwood St, North Melbourne</a>, a short walk from the <a href="http://www.qvm.com.au/">Queen Victoria Market</a> and trams heading in and out of the city.</p>
      </div>
    </section>

  </div>
</section>