<section id="conference">

  <img class="map" src="{{assets}}/images/illustrations/map.svg" alt="Map showing Melbourne Australia, 19th April">

  <p class="summary">Join us for a a special one-track, one-day conference following on from the fantastic <a href="http://cssconf.com/">CSSConf US</a> and <a href="http://cssconf.eu/">CSSConf EU</a> events, for a day dedicated to cutting edge CSS tools, techniques and the people that work with CSS every day.</p>

  <section class="speakers">
    <h3>Speakers</h3>
    <ul class="person-list">
      {{#each speakers}}
        {{> person}}
      {{/each}}
      <li class="-textonly">
        Plus more to be announced…
      </li>
    </ul>
  </section>

  <section class="cfp">
    <h3>Call for proposals</h3>
    <p>...</p>
    <p><a href="{{cfpUrl}}" class="button">Submit a talk</a></p>
  </section>
</section>