<section id="conference">

  <img class="map" src="{{assets}}/images/illustrations/map.svg" alt="Map showing Melbourne Australia, 19th April">

  <p class="summary">Join us for a a special one-track, one-day conference following on from the fantastic CSSConf US and CSSConf EU events, for a day dedicated to cutting edge CSS tools, techniques and the people that work with CSS every day.</p>

  <ul class="person-list">
    {{#each speakers}}
      {{> person}}
    {{/each}}
    <li class="-textonly">
      Plus more to be announced…
    </li>
  </ul>

  <section class="cfp">
    <h3>Call for proposals</h3>
    <p>Join us for a a special one-track, one-day conference following on from the fantastic <a href="#">CSSConf US</a> and <a href="#">CSSConf EU</a> events, for a day dedicated to cutting edge CSS tools, techniques and the people that work with CSS every day.</p>
    <p><a href="" class="button">Submit a talk</a></p>
  </section>
</section>