<section id="contact">
  <h2>Contact Us</h2>
  <ul class="main">
    <li><a href="mailto:hello@THISDOMAIN" class="button">Email</a></li>
    <li><a href="https://twitter.com/csconfau" class="button">Twitter</a></li>
    <li><a href="https://lanyrd.com/csconfau" class="button">Lanyrd</a></li>
  </ul>
  <p>All organisers, sponsors and attendees are required to follow the <a href="">conference code of conduct</a>.</p>
  <p>♥︎ to <a href="http://cssconf.com/">CSSConf&nbsp;US</a> and <a href="http://cssconf.eu/">CSSConf&nbsp;EU</a> for starting it all and encouraging us to take it to Australia.</p>
  <p class="minor">Logo and illustrations by <a href="http://carlahackett.com/">Carla Hackett</a>. Design by <a href="http://toolmantim.com/">Tim Lucas</a>.</p>
  <p class="minor">Cssconf Ltd. • Registered Not for Profit • ABN: 123 123 123</p>
</section>