<section id="contact">
  <div>
    <h2><img src="{{assets}}/images/headings/contact-us.svg" alt="Contact Us"></h2>
    <ul class="main">
      <li><a href="mailto:hello@THISDOMAIN" class="button">Email</a></li>
      <li><a href="https://twitter.com/csconfau" class="button">Twitter</a></li>
      <li><a href="https://lanyrd.com/csconfau" class="button">Lanyrd</a></li>
    </ul>
    <p>All organisers, sponsors and attendees are required to follow the <a href="http://confcodeofconduct.com/">conference code of conduct</a>.</p>
    <p>♥︎ to <a href="http://cssconf.com/">CSSConf&nbsp;US</a> and <a href="http://cssconf.eu/">CSSConf&nbsp;EU</a> for starting it all and encouraging us to take it to Australia, and to <a href="http://carlahackett.com/">Carla Hackett</a> for the logo and illustrations.</p>
    <p class="minor">Cssconf Ltd. • Registered Not for Profit • ABN: 123 123 123</p>
  </div>
</section>