<section id="contact">
  <div>
    <h2><img src="{{assets}}/images/headings/contact-us.svg" alt="Contact Us"></h2>
    <ul class="main">
      <li><a href="mailto:team@THISDOMAIN" class="button">Email</a></li>
      <li><a href="https://twitter.com/cssconfau" class="button">Twitter</a></li>
      <li><a href="http://lanyrd.com/2014/cssconfau/" class="button">Lanyrd</a></li>
    </ul>
    <p>All organisers, sponsors and attendees are required to follow the <a href="http://confcodeofconduct.com/">conference code of conduct</a>.</p>
    <p>♥︎ to <a href="http://cssconf.com/">CSSConf&nbsp;US</a> and <a href="http://cssconf.eu/">CSSConf&nbsp;EU</a> for starting it all and encouraging us to take it to Australia.
    <p>Logo and illustrations by <a href="http://carlahackett.com/">Carla Hackett</a>. Design and website by <a href="http://toolmantim.com/">Tim Lucas</a>.</p>
    <p class="minor">Cssconf Ltd. is a registered Australian non-profit organisation (ABN 167 583 066)</p>
  </div>
</section>