<section id="fringe-events">
  <div>
    <h2><img src="{{assets}}/images/headings/fringe-events.svg" alt="Fringe Events"></h2>
    <article class="zoo">
      <header>
        <date datetime="2014-04-08">Tuesday 8<sup>th</sup> April</date>
        <h1>Pre-conference social</h1>
        <h2>Melbourne Zoo</h2>
      </header>
      <p>Let the fun starts before the conference even begins! Join your fellow CSSConf friends at the Melbourne Zoo for an evening of <a href="http://www.zoo.org.au/melbourne/whats-on/i-animal">fun and interactive tour</a>. You will explore the zoo in small groups while being guided by a personal device, hearing stories about the animals and learning secrets of the zoo at nightfall. It’ll be exciting, thought provoking and most importantly, an adventure that you won’t forget.</p>
    </article>
    <article class="party">
      <header>
        <date datetime="2014-04-09">Wednesday 9<sup>th</sup> April</date>
        <h1>After-conference party</h1>
        <h2>Secret Location</h2>
      </header>
      <p>After a day of inspirations from all the talks, it’s time to relax and unwind! We will have food and drinks all prepared, so you just need to come on down and have a good time with old and new friends. We will also be sharing the party with our friends from JSConf so if you’re attending JSConf as well, it’ll be a great way for you to meet the people there before the conference begins. We will announce more details about the party soon.</p>
    </article>
    <article class="decompress">
      <header>
        <date datetime="2014-04-10">Friday 10<sup>th</sup> April</date>
        <h1>Decompress</h1>
        <h2>Melbourne Uni</h2>
      </header>
      <p>The fun just keeps going! After CSSConf and JSConf, hang out with the presenters and attendees from both conferences for another day at <a href="http://decompress.com.au/">our open community hack day</a>. See or give a lightning talk, hack on a project, or just enjoy a cool drink and chat at the outdoor bar. It’ll be a free event for CSSConf and JSConf attendees.</p>
      <p>Visit <a href="http://decompress.com.au/">decompress.com.au</a> to read more and put your name down.</p>
    </article>
  </div>
</section>
