<section id="fringe-events">
  <h2><img src="{{assets}}/images/headings/fringe-events.svg" alt="Fringe Events"></h2>
  <article>
    <header>
      <date datetime="2014-04-08">Tuesday 8<sup>th</sup> April</date>
      <h1>Pre-conference social</h1>
      <h2>Melbourne Zoo</h2>
    </header>
    <p>Bacon ipsum dolor sit amet ball tip meatball salami boudin jerky. Doner turducken jowl, fatback tail shankle landjaeger biltong porchetta t-bone hamburger shoulder tri-tip pork. Jowl tri-tip beef ribs, pork belly brisket pork boudin biltong cow andouille turducken porchetta drumstick fatback pig. Porchetta shank short ribs beef doner. Doner tenderloin chuck, venison jowl cow capicola shank meatball.</p>
  </article>
  <article>
    <header>
      <date datetime="2014-04-08">Tuesday 8<sup>th</sup> April</date>
      <h1>Pre-conference social</h1>
      <h2>Melbourne Zoo</h2>
    </header>
    <p>Bacon ipsum dolor sit amet ball tip meatball salami boudin jerky. Doner turducken jowl, fatback tail shankle landjaeger biltong porchetta t-bone hamburger shoulder tri-tip pork. Jowl tri-tip beef ribs, pork belly brisket pork boudin biltong cow andouille turducken porchetta drumstick fatback pig. Porchetta shank short ribs beef doner. Doner tenderloin chuck, venison jowl cow capicola shank meatball.</p>
  </article>
  <article>
    <header>
      <date datetime="2014-04-08">Tuesday 8<sup>th</sup> April</date>
      <h1>Pre-conference social</h1>
      <h2>Melbourne Zoo</h2>
    </header>
    <p>Bacon ipsum dolor sit amet ball tip meatball salami boudin jerky. Doner turducken jowl, fatback tail shankle landjaeger biltong porchetta t-bone hamburger shoulder tri-tip pork. Jowl tri-tip beef ribs, pork belly brisket pork boudin biltong cow andouille turducken porchetta drumstick fatback pig. Porchetta shank short ribs beef doner. Doner tenderloin chuck, venison jowl cow capicola shank meatball.</p>
  </article>
</section>
