<section id="news">
  <div>
    <h2><img src="{{assets}}/images/headings/news.svg" alt="News"></h2>
    <ol class="news-list">
      {{#eachRecentNewsItem}}
        <li>{{> news-list-item}}</li>
      {{/eachRecentNewsItem}}
    </ol>
    {{#ifMoreNewsItem}}
      <p class="more"><a href="/news/">Older news…</a></p>
    {{/ifMoreNewsItem}}
  </div>
</section>
