<section id="schedule">
  <header>
    <h2 class="schedule__title">Schedule</h2>
    <p class="schedule__tagline">Subject to change</p>
  </header>

  <div>
    <ul class="schedule__morning">
      <li class="schedule__item schedule__item--minor">
        <time class="schedule__item__time">8:00 am</time>
        <div class="schedule__item__description">
          <p class="schedule__item__title">Registration</p>
        </div>
      </li>
      <li class="schedule__item schedule__item--minor">
        <time class="schedule__item__time">9:10 am</time>
        <div class="schedule__item__description">
          <p class="schedule__item__title">Welcome</p>
        </div>
      </li>
      <li class="schedule__item">
        <time class="schedule__item__time">9:20 am</time>
        <div class="schedule__item__description">
          <p class="schedule__item__title">Nicole Sullivan</p>
          <p class="schedule__item__byline">TBA</p>
        </div>
      </li>
      <li class="schedule__item">
        <time class="schedule__item__time">10:00 am</time>
        <div class="schedule__item__description">
          <p class="schedule__item__title">Chris Wright</p>
          <p class="schedule__item__byline">TBA</p>
        </div>
      </li>
      <li class="schedule__item">
        <time class="schedule__item__time">10:40 am</time>
        <div class="schedule__item__description">
          <p class="schedule__item__title">Nicolas Gallagher</p>
          <p class="schedule__item__byline">TBA</p>
        </div>
      </li>
      <li class="schedule__item">
        <time class="schedule__item__time">11:20 am</time>
        <div class="schedule__item__description">
          <p class="schedule__item__title">Connor Sears</p>
          <p class="schedule__item__byline">TBA</p>
        </div>
      </li>
      <li class="schedule__item schedule__item--minor">
        <time class="schedule__item__time">12:00 pm</time>
        <div class="schedule__item__description">
          <p class="schedule__item__title">Lunch</p>
        </div>
      </li>
    </ul>
    <ul class="schedule__afternoon">
      <li class="schedule__item">
        <time class="schedule__item__time">1:00 pm</time>
        <div class="schedule__item__description">
          <p class="schedule__item__title">Ana Tudor</p>
          <p class="schedule__item__byline">TBA</p>
        </div>
      </li>
      <li class="schedule__item">
        <time class="schedule__item__time">1:40 pm</time>
        <div class="schedule__item__description">
          <p class="schedule__item__title">Simurai</p>
          <p class="schedule__item__byline">TBA</p>
        </div>
      </li>
      <li class="schedule__item">
        <time class="schedule__item__time">2:20 pm</time>
        <div class="schedule__item__description">
          <p class="schedule__item__title">Lea Verou</p>
          <p class="schedule__item__byline">TBA</p>
        </div>
      </li>
      <li class="schedule__item schedule__item--minor">
        <time class="schedule__item__time">3:00 pm</time>
        <div class="schedule__item__description">
          <p class="schedule__item__title">Afternoon tea</p>
        </div>
      </li>
      <li class="schedule__item">
        <time class="schedule__item__time">3:40 pm</time>
        <div class="schedule__item__description">
          <p class="schedule__item__title">Tab Atkins</p>
          <p class="schedule__item__byline">TBA</p>
        </div>
      </li>
      <li class="schedule__item">
        <time class="schedule__item__time">4:20 pm</time>
        <div class="schedule__item__description">
          <p class="schedule__item__title">Christopher Giffard</p>
          <p class="schedule__item__byline">TBA</p>
        </div>
      </li>
      <li class="schedule__item">
        <time class="schedule__item__time">5:00 pm</time>
        <div class="schedule__item__description">
          <p class="schedule__item__title">Chris Eppstein</p>
          <p class="schedule__item__byline">TBA</p>
        </div>
      </li>
    </ul>
  </div>
</section>
