<section id="schedule">
  <header>
    <h2 class="schedule__title">Schedule</h2>
    <p class="schedule__tagline">Subject to change</p>
  </header>

  <div>
    <ul class="schedule__morning">
      <li class="schedule__item schedule__item--minor">
        <time class="schedule__item__time">8:00 am</time>
        <div class="schedule__item__description">
          <p class="schedule__item__title">Nicole Sullivan</p>
          <p class="schedule__item__byline">Maintainable css</p>
        </div>
      </li>
      <li class="schedule__item schedule__item--minor">
        <time class="schedule__item__time">8:00 am</time>
        <div class="schedule__item__description">
          <p class="schedule__item__title">Nicole Sullivan</p>
          <p class="schedule__item__byline">Maintainable css</p>
        </div>
      </li>
      <li class="schedule__item">
        <time class="schedule__item__time">8:00 am</time>
        <div class="schedule__item__description">
          <p class="schedule__item__title">Nicole Sullivan</p>
          <p class="schedule__item__byline">Maintainable css</p>
        </div>
      </li>
      <li class="schedule__item">
        <time class="schedule__item__time">8:00 am</time>
        <div class="schedule__item__description">
          <p class="schedule__item__title">Nicole Sullivan</p>
          <p class="schedule__item__byline">Maintainable css</p>
        </div>
      </li>
      <li class="schedule__item">
        <time class="schedule__item__time">8:00 am</time>
        <div class="schedule__item__description">
          <p class="schedule__item__title">Nicole Sullivan</p>
          <p class="schedule__item__byline">Maintainable css</p>
        </div>
      </li>
      <li class="schedule__item">
        <time class="schedule__item__time">8:00 am</time>
        <div class="schedule__item__description">
          <p class="schedule__item__title">Nicole Sullivan</p>
          <p class="schedule__item__byline">Maintainable css</p>
        </div>
      </li>
      <li class="schedule__item">
        <time class="schedule__item__time">8:00 am</time>
        <div class="schedule__item__description">
          <p class="schedule__item__title">Nicole Sullivan</p>
          <p class="schedule__item__byline">Maintainable css</p>
        </div>
      </li>
    </ul>
    <ul class="schedule__afternoon">
      <li class="schedule__item schedule__item--minor">
        <time class="schedule__item__time">8:00 am</time>
        <div class="schedule__item__description">
          <p class="schedule__item__title">Nicole Sullivan</p>
          <p class="schedule__item__byline">Maintainable css</p>
        </div>
      </li>
      <li class="schedule__item schedule__item--minor">
        <time class="schedule__item__time">8:00 am</time>
        <div class="schedule__item__description">
          <p class="schedule__item__title">Nicole Sullivan</p>
          <p class="schedule__item__byline">Maintainable css</p>
        </div>
      </li>
      <li class="schedule__item">
        <time class="schedule__item__time">8:00 am</time>
        <div class="schedule__item__description">
          <p class="schedule__item__title">Nicole Sullivan</p>
          <p class="schedule__item__byline">Maintainable css</p>
        </div>
      </li>
      <li class="schedule__item">
        <time class="schedule__item__time">8:00 am</time>
        <div class="schedule__item__description">
          <p class="schedule__item__title">Nicole Sullivan</p>
          <p class="schedule__item__byline">Maintainable css</p>
        </div>
      </li>
      <li class="schedule__item">
        <time class="schedule__item__time">8:00 am</time>
        <div class="schedule__item__description">
          <p class="schedule__item__title">Nicole Sullivan</p>
          <p class="schedule__item__byline">Maintainable css</p>
        </div>
      </li>
      <li class="schedule__item">
        <time class="schedule__item__time">8:00 am</time>
        <div class="schedule__item__description">
          <p class="schedule__item__title">Nicole Sullivan</p>
          <p class="schedule__item__byline">Maintainable css</p>
        </div>
      </li>
      <li class="schedule__item">
        <time class="schedule__item__time">8:00 am</time>
        <div class="schedule__item__description">
          <p class="schedule__item__title">Nicole Sullivan</p>
          <p class="schedule__item__byline">Maintainable css</p>
        </div>
      </li>
    </ul>
  </div>
</section>
