<section id="sponsors">
  <div>
    <h2><img src="{{assets}}/images/headings/sponsors.svg" alt="Sponsors"></h2>
    <p>We’re looking for fantastic companies to help support this event. If your company could help, please drop an email to <a href="mailto:sponsors@THISDOMAIN">sponsors@THISDOMAIN</a> for more details.</p>
  </div>
</section>
