<section id="sponsors">
  <div>
    <h2><img src="{{assets}}/images/headings/sponsors.svg" alt="Sponsors"></h2>
    <ul>
      <li class="pin"><a href="http://pin.net.au/"><img src="{{assets}}/images/sponsor-logos/pin.svg" alt="Pin Payments"></a></li>
      <li class="ninety-nine-designs"><a href="http://99designs.com.au/"><img src="{{assets}}/images/sponsor-logos/99designs.svg" alt="99designs"></a></li>
    </ul>
    <p class="more">We’re looking for more fantastic companies to help support this event. If your company could help, please drop an email to <a href="mailto:sponsors@THISDOMAIN">sponsors@THISDOMAIN</a> for more details.</p>
  </div>
</section>
