<section id="team">
  <h2><img src="{{assets}}/images/headings/the-team.svg" alt="The Team"></h2>
  <p>...</p>
  <ul class="person-list">
    {{#each team}}
      {{> person}}
    {{/each}}
  </ul>
</section>
