<section id="team">
  <div>
    <h2><img src="{{assets}}/images/headings/the-team.svg" alt="The Team"></h2>
    <ul class="person-list">
      {{#each team}}
        {{> person}}
      {{/each}}
    </ul>
  </div>
</section>
