<section id="tickets">
  <div>
    <h2><img src="{{assets}}/images/headings/tickets.svg" alt="Tickets"></h2>

    <div class="tickets-inner">

      <div class="prices">
        <table>
          <thead>
            <tr>
              <td></td>
              <th scope="col">CSSConf</th>
              <th scope="col">CSSConf + JSConf</th>
            </tr>
          </thead>
          <tbody>
            <tr class="inactive">
              <th scope="row">Early Bird <span class="until">sold out</span></th>
              <td class="sold-out">$400</td>
              <td class="sold-out">$750</td>
            </tr>
            <tr class="inactive">
              <th scope="row">Middle Bird <span class="until">sold out</span></th>
              <td class="sold-out">$450</td>
              <td class="sold-out">$850</td>
            </tr>
            <tr>
              <th scope="row">Late Bird</th>
              <td>$500</td>
              <td class="sold-out">$950</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="extras">

        <div class="inclusions">
          <p>All tickets include:</p>
          <ul>
            <li>Full day conference with coffee, lunch and after party</li>
            <li>Entry to fringe events</li>
            <li>lols and good times</li>
          </ul>
        </div>

        <a href="{{ticketsUrl}}" class="button">Purchase tickets</a>

      </div>

    </div>
  </div>
</section>