<section id="tickets">
  <h2>Tickets</h2>

  <table>
    <thead>
      <tr>
        <td></td>
        <th scope="col">CSSConf</th>
        <th scope="col">CSSConf + JSConf</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Early Bird <span class="until">until Feb 10</span></th>
        <td>$450</td>
        <td>$750</td>
      </tr>
      <tr>
        <th scope="row">Middle Bird <span class="until">until Mar 25</span></th>
        <td>$500</td>
        <td>$800</td>
      </tr>
      <tr>
        <th scope="row">Late Bird <span class="until">from Mar 26</span></th>
        <td>$550</td>
        <td>$850</td>
      </tr>
    </tbody>
  </table>

  <div class="inclusions">
    <p>All tickets include:</p>
    <ul>
      <li>Full day conference with coffee, lunch and after party</li>
      <li>Entry to fringe events</li>
      <li>Laughs and goodtimes</li>
    </ul>
  </div>

  <a href="{{ticketsUrl}}">Purchase tickets</a>
</section>