---
path: /
pageClass: home
---

<section id="summary">
  <h1 class="logo"><div class="inner"><img src="{{assets}}/images/logo.svg" alt="CSSConf Australia 2014"></div></h1>
  <p>Some summary of the event that makes it sound just dandy and super-fun</p>
</section>

{{> conference}}

{{> tickets}}

{{> fringe-events}}

{{> sponsors}}

{{> team}}

{{> contact}}
