---
path: /
pageClass: home
---

<section class="summary">
  <p>Some summary of the event that makes it sound just dandy and super-fun</p>
</section>

<section class="conference">
  <p class="summary">Join us for a a special one-track, one-day conference following on from the fantastic CSSConf US and CSSConf EU events, for a day dedicated to cutting edge CSS tools, techniques and the people that work with CSS every day.</p>
  <img alt="Map">
  <ul>
    <li>
      <a href="http://twitter.com/stubornella">
        <img alt="Nicole Sullivan">
        <span class="name">Nicole Sullivan</span>
        <span class="twitters">@stubornella</span>
      </a>
    </li>
    <li>
      <a href="http://twitter.com/stubornella">
        <img alt="Nicole Sullivan">
        <span class="name">Nicole Sullivan</span>
        <span class="twitters">@stubornella</span>
      </a>
    </li>
    <li>
      <a href="http://twitter.com/stubornella">
        <img alt="Nicole Sullivan">
        <span class="name">Nicole Sullivan</span>
        <span class="twitters">@stubornella</span>
      </a>
    </li>
    <li>
      <a href="http://twitter.com/stubornella">
        <img alt="Nicole Sullivan">
        <span class="name">Nicole Sullivan</span>
        <span class="twitters">@stubornella</span>
      </a>
    </li>
    <li class="more-tba">
      Plus more to be announced…
    </li>
  </ul>

  <section class="cfp">
    <h3>Call for proposals</h3>
    <p>Join us for a a special one-track, one-day conference following on from the fantastic CSSConf US and CSSConf EU events, for a day dedicated to cutting edge CSS tools, techniques and the people that work with CSS every day.</p>
    <p><a href="">Submit a talk</a></p>
  </section>
</section>

<section class="tickets">
  <h2>Tickets</h2>
</section>

<section class="fringe-events">
  <h2>Fringe Events</h2>
</section>

<section class="news">
  <h2>News</h2>
  <ol>
    {{#each pages}}
      {{#is data.section "news"}}
        <li><a href="/news/{{basename}}/">{{data.title}}</a></li>
      {{/is}}
    {{/each}}
  </ol>
</section>

<section class="sponsors">
  <h2>Sponsors</h2>
</section>

<section class="team">
  <h2>The Team</h2>
</section>

<section class="contact">
  <h2>Contact Us</h2>
</section>