---
layout: default-layout.hbs
---

<div class="news-item {{basename}}">

  <div class="news-header">
    <p><a href="/news/"><img src="{{assets}}/images/headings/news.svg" alt="News"></a></p>
  </div>

  <div class="author">
  </div>

  <div class="meta">
    {{#newsAuthor}}{{> person}}{{/newsAuthor}}
    <p class="date">{{#with date}}<span class="published">Published</span> {{> news-date}}{{/with}}</p>
  </div>

  <h2 class="title">{{title}}</h2>

  <div class="body">
    {{> body}}
  </div>

  <footer>
    <p class="what"><a href="/">CSSConf Australia</a> is a one-day conference to bring together the designers and developers creating the future face of the web.</p>
    {{!-- <p class="sponsors">If your company would like to sponsor CSSConf Australia, shoot an email to <a href="mailto:sponsors@THISDOMAIN">sponsors@THISDOMAIN</a> to find out the details.</p> --}}
  </footer>

</div>
