---
layout: default-layout.hbs
---

<article class="news-item {{basename}}">

  <header>
    <p class="news">News</p>
    <h2>{{title}}</h2>
  </header>

  <div class="author">
    {{#newsAuthor}}
      {{> person}}
    {{/newsAuthor}}
  </div>

  <div class="body">
    {{> body }}
  </div>

  <footer>
    <p>TODO: About CSSConf</p>
    <p>TODO: Request for sponsors</p>
  </footer>

</article>
