---
title: Early bird sold out
date: 2014-02-03
path: /news/early-bird-sold-out
author: Tim Lucas
layout: news-item-layout.hbs
---

<p>Wow, what a few days since launch! We were hoping to catch up on some sleep after launching ticket sales, but it’s just been go-go-go.</p>

<p>Since last Wednesday we’ve had another few speakers lined up (announcement coming soon), 9 talk proposal submissions (we know the number, but can’t look at them yet), and the early bird tickets have all sold out.</p>

<p>If you didn’t get hold of an early bird ticket, never fear! Everyone who submits a talk proposal (by Friday 21 February) will be eligible for the early bird pricing, regardless of whether your proposal is accepted.</p>

<p><a class="button" href="{{cfpUrl}}">Submit a talk proposal</a></p>

<p>So maybe it’s time to talk about that cool thing you did a few months back. If not, why not nudge someone else who would be great to have as a speaker?</p>

<p>And lastly a massive, massive thank you to everyone for your support! We’ve got some exciting things in the pipeline, and we’re thrilled that you’re as excited as we are.</p>