---
title: Early bird sold out
date: 2014-02-02
path: /news/early-bird-sold-out
author: Tim Lucas
layout: news-item-layout.hbs
---

<p>Wow, what a few days since launch! We were hoping to catch up on some sleep after launching the site, but it’s just been go-go-go.</p>

<p>Since last Wednesday we’ve had another few speakers lined up (look out for an announcement), over 10 talk proposal submissions (though we don't know what they are just yet), and the early bird tickets have all sold out.</p>

<p>If you didn’t get hold of an early bird ticket, all you need to do is put in a talk proposal. Everyone who submits a genuine talk proposal will be eligible for the early bird pricing, regardless of whether your proposal is accepted. So maybe now’s the time to talk about something, or to nudge someone who you think should present.</p>

<p>A massive massive thank you to everyone for your support! Without you, this event would not be possible.</p>