---
title: News
path: /news
pageClass: news
---

<h1><img src="{{assets}}/images/headings/news.svg" alt="News"></h1>

<ol>
  {{#eachNewsItem}}
    <li>{{> news-list-item}}</li>
  {{/eachNewsItem}}
</ol>
