---
title: News
path: /news
pageClass: news-index
---

<div class="news-header">
  <h1><img src="{{assets}}/images/headings/news.svg" alt="News"></h1>
</div>

<ol class="news-list">
  {{#eachNewsItem}}
    {{> news-list-item}}
  {{/eachNewsItem}}
</ol>
