---
title: Introducing Tab Atkins
date: 2014-02-17
path: /news/introducing-tab-atkins
author: Ben Schwarz
layout: news-item-layout.hbs
---

<p class="speaker-photo"><img src="{{assets}}/images/mugshots/speakers/tab.jpg"></p>

<p>We’re thrilled to announce our newest speaker: Tab&nbsp;Atkins&nbsp;Jr.</p>

<p>You might not know it, but you’ve benefited by the amazing work that he’s done. Tab works for Google on the Chrome team as a Web Standards Hacker, editing many of the proposals aimed at making our lives better. Being a hacker, and working on specifications, places him high on my list of internet heroes.</p>

<p>Tab’s interesting and insightful specifications encapsulate an understanding of the real pains of working with CSS and the browser, including his recently published <a href="http://tabatkins.github.io/specs/css-will-change/">will-change specification</a> for improving the experience of animation and element interaction. He’s also an editor of various draft specifications including <a href="http://dev.w3.org/csswg/css-flexbox/">CSS Flexible Box Layout</a>, <a href="http://dev.w3.org/csswg/css-variables/">CSS variables</a>, and <a href="http://dev.w3.org/csswg/css-color/">CSS Color (Level 4)</a>. And <a href="http://www.xanthir.com/blog/">his blog</a> is a treasure trove of CSS discussion and general web hacker goodies.</p>

<p>If you’re interested in the future of CSS itself, how the standards process works, or want to talk about the parent selector with someone who really, really knows what he’s talking about; then you want to talk to Tab.</p>
