---
title: "Introducing: Tab Atkins"
date: 2014-02-17
path: /news/introducing-tab-atkins
author: Ben Schwarz
layout: news-item-layout.hbs
---

<p class="speaker-photo"><img src="{{assets}}/images/mugshots/speakers/tab.jpg" alt="Photo of Tab Atkins"></p>

<p>We’re just a little excited to announce the latest addition to our speaker lineup: <a href="http://twitter.com/tabatkins‎">Tab&nbsp;Atkins&nbsp;Jr</a>.</p>

<p>Tab works for Google on the Chrome team as a Web Standards Hacker, editing many of the specs we benefit from every day. Being a hacker, and working on specifications, places him high on my list of internet&nbsp;heroes.</p>

<p>Tab edited of many of the CSS3 specifications we all know and love,&nbsp;including:</p>
<ul>
  <li><a href="http://www.w3.org/TR/2013/CR-css-cascade-3-20131003/">Cascading and Inheritance Level 3</a> (all, unset)</li>
  <li><a href="http://www.w3.org/TR/2013/CR-css3-values-20130730/">Values and Units Level 3</a> (rem, vmax, turn, calc, attr)</li>
  <li><a href="http://www.w3.org/TR/2012/CR-css3-flexbox-20120918/">Flexible Box Layout Module</a> (display: flex)</li>
  <li><a href="http://www.w3.org/TR/2012/CR-css3-images-20120417/">Image Values and Replaced Content Module Level 3</a> (gradients, background sizing)</li>
</ul>

<p>Tab was a full-time web developer before being hired by Google, so he’s familiar with the real world pain of working with CSS. This experience seems to lead to very interesting and insightful spec proposals, including his recently published <a href="http://tabatkins.github.io/specs/css-will-change/">Will Change</a>, and features you might be familiar with from pre-processors such as <a href="http://dev.w3.org/csswg/css-variables/">Variables</a> and <a href="http://tabatkins.github.io/specs/css-nesting/">Nesting</a>. And <a href="http://www.xanthir.com/blog/">his blog</a> is a treasure trove of CSS discussion and general web hacker&nbsp;goodies.</p>

<p>If you’re interested in the future of CSS, how specifications and standards are made, or want to talk about the parent selector with someone who really, really knows what he’s talking about; then <a href="{{ticketsUrl}}">grab yourself a ticket</a> whilst they’re still available.</p>