---
title: "Introducing: Nicolas Gallagher"
date: 2014-02-25
path: /news/introducing-nicolas-gallagher
author: Michael Mifsud
layout: news-item-layout.hbs
---

<p class="speaker-photo"><img src="{{assets}}/images/mugshots/speakers/nicolas.jpg" alt="Photo of Nicolas Gallagher"></p>

<p>There are few people whos work has become an essential part of building for the web. Undoubtably one of them is Nicolas Gallagher, and we're all stoked to announced he'll be joining our fantastic line of up speakers.</p>

<p>No matter whether you're nostelgic for the days of framesets, or just starting your first HTMl5 Boilerplate project, you've almost certainly come across his <a href="http://necolas.github.io/normalize.css/">normalize.css</a>. That's merely where his contributions to easing the daily live of all us developers beings!</p>

<p>Our middle bird tickets are selling out fast. Make sure you <a href="https://ti.to/cssconf-au/2014">grab your ticket now</a>, so you don't miss the chance of being inspired by Nicole and all our amazing speakers.</p>
