---
title: "Introducing: Simurai"
date: 2014-04-01
path: /news/introducing-simurai
author: Michael Mifsud
layout: news-item-layout.hbs
---

<p class="speaker-photo"><img src="{{assets}}/images/mugshots/speakers/simurai.jpg" alt="Photo of Simurai"></p>

<p>The next speaker in our line up is Simon, or <a href="http://simurai.com/">Simurai</a> (<a href="https://twitter.com/simurai">@simurai</a>) as he is better known.</p>

<p>Born in the Swiss Alps this self confessed “CSS doodler” is the master mind behind some of the most impressive demos I‘ve seen, including the infamous <a href="http://simurai.com/projects/cursor-monster/">Cursor Monster</a>.</p>

<p>His love of technology and the arts, mixed with creative coding, has given rise to some awesome demos and ideas. Below are some of my favourites:</p>

<figure class="codepen-embed-container">
  <div class="codepen-embed">
    <p data-height="523" data-theme-id="0" data-slug-hash="zLgAl" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/simurai/pen/zLgAl/'>Anatomy of a Web App</a> by simurai (<a href='http://codepen.io/simurai'>@simurai</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
    <script async src="//codepen.io/assets/embed/ei.js"></script>
  </div>
  <figcaption>
    <a target="_blank" href="http://codepen.io/simurai/details/zLgAl">Anatomy of a Web App</a>
  </figcaption>
</figure>

<figure class="codepen-embed-container">
  <div class="codepen-embed">
    <p data-height="464" data-theme-id="0" data-slug-hash="kgsce" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/simurai/pen/kgsce/'>Space CaCSS</a> by simurai (<a href='http://codepen.io/simurai'>@simurai</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
    <script async src="//codepen.io/assets/embed/ei.js"></script>
  </div>
  <figcaption>
    <a target="_blank" href="http://codepen.io/simurai/details/kgsce">Space CaCSS</a>
  </figcaption>
</figure>

<figure class="codepen-embed-container">
  <div class="codepen-embed">
    <p data-height="416" data-theme-id="0" data-slug-hash="Dhskl" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/simurai/pen/Dhskl/'>Zeppelin</a> by simurai (<a href='http://codepen.io/simurai'>@simurai</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
    <script async src="//codepen.io/assets/embed/ei.js"></script>
  </div>
  <figcaption>
    <a target="_blank" href="http://codepen.io/simurai/details/Dhskl">Zeppelin</a>
  </figcaption>
</figure>

<p>We love his creativity so much we jumped at the chance to fly him down from Japan.</p>

<p>If you want to catch Simurai you should <a href="https://ti.to/cssconf-au/2014">purchase&nbsp;a&nbsp;ticket</a> whilst they’re still&nbsp;available.</p>
