---
title: "Introducing: Lea Verou"
date: 2014-03-31
path: /news/introducing-lea-verou
author: Michael Mifsud
layout: news-item-layout.hbs
---

<p class="speaker-photo"><img src="{{assets}}/images/mugshots/speakers/lea.jpg" alt="Photo of Lea Verou"></p>

<p><a href="http://lea.verou.me/">Lea Verou</a> (<a href="https://twitter.com/leaverou">@leaverou</a>) is one the most prolific conference speakers on CSS, and for good reason: she’s an invited expert of the <a href="https://www.w3.org/Style/CSS/members">CSS Working Group</a>, was part of the W3C team contributing to the <a href="http://WebPlatform.org">WebPlatform.org</a> project, and has spent years sharing her CSS knowledge as articles, open-source tools and presentations.</p>

<p>Lea’s in-depth knowledge, passion for sharing, and practical experience was what had us excited to bring her to CSSConf Australia. And it was her <a href="http://lea.verou.me/css3patterns/">CSS3 Patterns Gallery</a> that gave me my first glimpse into the untapped power of CSS.</p>

<p>Some of her many open-source projects include:</p>

<ul>
  <li><a href="http://leaverou.github.io/prefixfree/">Prefix Free</a> - a Javascript library enabling you to write CSS without developing vendor-prefix-induced RSI</li>
  <li><a href="http://prismjs.com/">Prism</a> - a modern, lightweight, syntax highlighter framework (as used on the <a href="https://developer.mozilla.org/en-US/docs/Web">MDN developer docs</a>)</li>
  <li><a href="http://dabblet.com/">Dabblet</a> - a site for testing and sharing snippets of CSS</li>
  <li><a href="http://cubic-bezier.com/">cubic-bezier.com</a> - a tool for creating and sharing CSS animation timing functions</li>
  <li><a href="http://dpi.lv/">DPI love</a> - “more than you probably wanted to know about DPI”</li>
  <li><a href="http://leaverou.github.io/contrast-ratio/">Contrast Ratio</a> - a tool for checking foreground/background colour contrast as per <a href="http://www.w3.org/TR/WCAG/#visual-audio-contrast">WCAG 2.0</a></li>
  <li><a href="http://leaverou.github.io/animatable/">Animatable</a> - a demonstration of animating each animatable CSS property</li>
  <li>And more at <a href="https://github.com/leaverou">github.com/leaverou</a> and <a href="http://lea.verou.me/projects/">lea.verou.me/projects</a></li>
</ul>

<p>If you’re not already coming, don’t miss the chance to see Lea Verou speak, and grab one of the few remaining <a href="https://ti.to/cssconf-au/2014">late bird tickets</a> before they sell out.</p>
