---
title: "Introducing: Nicolas Gallagher"
date: 2014-02-25
path: /news/introducing-nicolas-gallagher
author: Michael Mifsud
layout: news-item-layout.hbs
---

<p class="speaker-photo"><img src="{{assets}}/images/mugshots/speakers/nicolas.jpg" alt="Photo of Nicolas Gallagher"></p>

<p>There are few people whos work has become an essential part of building for the web. Undoubtably one of them is Nicolas Gallagher, and we're all stoked to announced he'll be joining our inspiring line up of speakers.</p>

<p>Born in France, he was a web developer in the UK before joining <a href="https://twitter">Twitter</a>. Best known for his work on <a href="http://necolas.github.io/normalize.css/">normalize.css</a>, he's contributes to many great projects, the likes of:</p>

<ul>
<li><a href="http://html5boilerplate.com/">HTML5 Boilerplate</a></li>
<li><a href="http://bower.io/">Bower</a></li>
<li><a href="https://github.com/necolas/idiomatic-css">Idiomatic CSS</a></li>
<li>And my favourite <a href="https://github.com/suitcss/suit">Suit</a></li>
</ul>

<p>No matter whether you're nostelgic for the days of spacer gifs, or just starting your first web app, you've almost certainly come across his work. His breadth of contributions gives him a unique insight into the state of modern web development that's truly facinating. I don't know about you but I personally can't wait to shake his hand.</p>

<p>Our middle bird tickets are selling out fast. Make sure you <a href="https://ti.to/cssconf-au/2014">grab your ticket now</a>, so you don't miss the chance of being inspired by Nicole and all our amazing speakers.</p>
