---
title: "Introducing: Nicole Sullivan"
date: 2014-02-24
path: /news/introducing-nicole-sullivan
author: Fiona Chan
layout: news-item-layout.hbs
---

<p class="speaker-photo"><img src="{{assets}}/images/mugshots/speakers/nicole.jpg" alt="Photo of Nicole Sullivan"></p>

<p>When we started planning for CSSConf, we knew we had to invite <a href="http://twitter.com/stubbornella">Nicole Sullivan</a>. And luckily for us (and for you!), she'll be coming over to join our CSS party.</p>

<p>Nicole works as a front end performance consultant. Not only is she the co-founder of CSSConf, she's also behind the open source projects that pretty much changed the way we write CSS: <a href="https://github.com/stubbornella/oocss">OOCSS</a> and <a href="http://csslint.net/">CSSLint</a>.

<p>She is a forward thinker when it comes to how we can improve front end performance. Her fantastic presentation about <a href="http://www.youtube.com/watch?v=lsaG-EJcu88">creating living style guides</a> shed light on how they can lead to better UI code and ultimately better performance. She has also just open sourced a typography tool called <a href="http://type-o-matic.net/">Type-O-Matic</a>: a Firefox extension that grabs all the fonts on a page and shows you just how many different font sizes and colours you are (overly) using.</p>

<p>On top of all that, she is a very eloquent speaker with many inspiring and pragmatic views on some of the challenges we face in the web industry. If you've seen her talks <a href="http://www.youtube.com/watch?v=ulNSlES1Fds">"Don't Feed the Trolls"</a> and <a href="http://youtu.be/ue-Z_HxS3cc">"Why Are You Here"</a> (two of my favourite talks by the way), then you'll know what I mean.</p>

<p>Our middle bird tickets are selling out fast. Make sure you <a href="https://ti.to/cssconf-au/2014">grab your ticket now</a>, so you don't miss the chance of being inspired by Nicole and all our amazing speakers.</p>