---
title: "Introducing: Ana Tudor"
date: 2014-02-20
path: /news/introducing-ana-tudor
author: Glen Maddern
layout: news-item-layout.hbs
---

<p class="speaker-photo"><img src="{{assets}}/images/mugshots/speakers/ana.jpg" alt="Photo of Ana Tudor"></p>

<p>It's fair to say that Ana Tudor isn't your usual conference speaker. She doesn't work for a well-known tech company, does all her work on an 8-year-old laptop with no battery and which needs gaffer tape to reliably present with, and describes herself primarily as 'not friendly at all'. But she's one my internet heroes, and I am super, super excited that she'll be coming down under to present to you all.</p>

<p>Because Ana is one of the most inventive, experimental and prolific CSS wizards in the world. Her demos, usually published humbly as a Codepen or Dabblet, are truly outstanding, and shows just what CSS can do when driven by mathematics and a sense of exploration. Here's a few of my favourites:</p>

<div class="codepen-embed-container">
  <div class="codepen-embed">
    <iframe src="http://cdpn.io/qBKjH" frameborder="0"></iframe>
  </div>
</div>



<p>Whether you like yelling "that's not possible" and "this is madness" at the stage or prefer quietly having your brain turned to mush by the power of mathematics, Ana's talk will surely be a memorable one, so <a href="{{ticketsUrl}}">get your ticket</a> while you can.</p>
