---
title: "Introducing: Ana Tudor"
date: 2014-02-20
path: /news/introducing-ana-tudor
author: Glen Maddern
layout: news-item-layout.hbs
---

<script async src="//codepen.io/assets/embed/ei.js"></script>

<p class="speaker-photo"><img src="{{assets}}/images/mugshots/speakers/ana.jpg" alt="Photo of Ana Tudor"></p>

<p>It's fair to say that Ana Tudor isn't your usual conference speaker. She doesn't work for a well-known tech company, does all her work on an 8-year-old laptop with no battery and which needs gaffer tape to reliably present with, and describes herself primarily as 'not friendly at all'. But she's one my internet heroes, and I am super, super excited that she'll be coming down under to present to you all.</p>

<p>Because Ana is one of the most inventive, experimental and prolific CSS wizards in the world. Her demos, usually published humbly as a Codepen or Dabblet, are truly outstanding, and shows just what CSS can do when driven by mathematics and a sense of exploration. Here's a few of my favourites:</p>

<figure class="codepen-embed-container">
  <div class="codepen-embed">
    <p data-height="400" data-theme-id="4518" data-slug-hash="DBadq" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/thebabydino/pen/DBadq'>Infinitely unpack prism demo (pure CSS)</a> by Ana Tudor (<a href='http://codepen.io/thebabydino'>@thebabydino</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
  </div>
  <figcaption>
    <a target="_blank" href="http://codepen.io/thebabydino/details/DBadq">Infinitely unpack prism demo (pure CSS)</a>
  </figcaption>
</figure>

<figure class="codepen-embed-container">
  <div class="codepen-embed">
    <p data-height="400" data-theme-id="4518" data-slug-hash="qBKjH" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/thebabydino/pen/qBKjH'>hexagon spread all over (pure CSS version)</a> by Ana Tudor (<a href='http://codepen.io/thebabydino'>@thebabydino</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
  </div>
  <figcaption>
    <a target="_blank" href="http://codepen.io/thebabydino/details/qBKjH">Hexagon spread all over (pure CSS version)</a>
  </figcaption>
</figure>

<figure class="codepen-embed-container">
  <div class="codepen-embed">
    <p data-height="400" data-theme-id="4518" data-slug-hash="wsxpE" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/thebabydino/pen/wsxpE'>Pentakis dodecahedron turning into excavated dodecahedron (pure CSS)</a> by Ana Tudor (<a href='http://codepen.io/thebabydino'>@thebabydino</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
  </div>
  <figcaption>
    <a target="_blank" href="http://codepen.io/thebabydino/details/wsxpE">Pentakis dodecahedron turning into excavated dodecahedron (pure CSS)</a>
  </figcaption>
</figure>

<figure class="codepen-embed-container">
  <div class="codepen-embed">
    <p data-height="400" data-theme-id="4518" data-slug-hash="shtGe" data-default-tab="result" class='codepen'>See the Pen <a href='http://codepen.io/thebabydino/pen/shtGe'>Particles (1 element, no JS)</a> by Ana Tudor (<a href='http://codepen.io/thebabydino'>@thebabydino</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
  </div>
  <figcaption>
    <a target="_blank" href="http://codepen.io/thebabydino/details/shtGe">Particles (1 element, no JS)</a>
  </figcaption>
</figure>

<p>I strongly encourage you to take a look how those are built - they're quite incredible, particularly considering these were all built in the last couple of months. Her
  <a href="http://codepen.io/thebabydino" target="_blank">Codepen profile</a> has a whole lot more, so you should dig in and come up with some questions to ask her at the conference.</p>

<p>Whether you like yelling "that's not possible" and "this is madness" at the stage or prefer quietly having your brain turned to mush by the power of mathematics, Ana's talk will surely be a memorable one, so <a href="{{ticketsUrl}}">get your ticket</a> while you can.</p>
