---
title: "Introducing: Chris Eppstein"
date: 2014-04-08
path: /news/introducing-chris-eppstein
author: Michael Mifsud
layout: news-item-layout.hbs
---

<p class="speaker-photo"><img src="{{assets}}/images/mugshots/speakers/chris.jpg" alt="Photo of Chris Eppstein"></p>

<p>We're excited to announce, hot off the long anticipated release of Sass 3.3, <a href="http://chriseppstein.github.io/">Chris Eppstein</a> (<a href="https://twitter.com/chriseppstein">@chriseppstein</a>) to round off our list of invited speakers.</p>

<p>Arguably Sass has improved the way we think about CSS, which is why we’re elated that Chris has taken time away from is work at LinkedIn to come to Melbourne and speak about “What makes Sass so syntactically awesome”.</p>

<p>You undoubtably know him as the creator of <a href="http://compass-style.org/">Compass</a>, and co-creator of <a href="http://compass-style.org/">Sass</a>. He's built and contributed to many of Sass’ powerful features. But I’ll personally always be thankful to him for fixing Sass’ <a href="https://github.com/nex3/sass/pull/934/files#diff-e7c656eed1930f3b7bf24303c710cfd2R289)">if statement</a>.</p>

<p>We can’t wait to have Chris Eppstein with us at the first ever CSSConf Australia.</p>
