---
title: "Introducing: Lea Verou"
date: 2014-03-05
path: /news/introducing-lea-verou
author: Michael Mifsud
layout: news-item-layout.hbs
---

<p class="speaker-photo"><img src="{{assets}}/images/mugshots/speakers/lea.jpg" alt="Photo of Lea Verou"></p>

<p>Lea Verou (<a href="https://twitter.com/leaverou">@leaverou</a>) arguable needs no introduction, so bare with me whilst I try to do her justice.</p>

<p>Lea is one the most prolific conference speakers in our industry, and for good reason. She's an Invited Export of the CSS Working Group and was previously part of the W3C Developer Relations team contributing to invaluable <a href="http://WebPlatform.org">WebPlatform.org</a> project. It's this indepth knowledge of CSS that revealed to use the elusive power of <a href="http://www.youtube.com/watch?v=JSaMl2OKjfQ">The Humble Border-Radius</a>.</p>

<p>When she's not working on the shaping the future direction of CSS, she's building incredible tools like <a href="http://dabblet.com/">Dabblet<a/> and <a href="http://prismjs.com/">Prism</a>, just to name a few. Personally speaking it was her <a href="http://lea.verou.me/css3patterns/">CSS3 Patterns Gallery</a> that gave me my first glimps into the untapped power of CSS.</p>

<p>If you want to catch Lea Verou you should <a href="https://ti.to/cssconf-au/2014">purchase&nbsp;a&nbsp;ticket</a> whilst they’re still&nbsp;available.</p>
