---
title: "Introducing: Chris Eppstein"
date: 2014-03-05
path: /news/introducing-chris-eppstein
author: Michael Mifsud
layout: news-item-layout.hbs
---

<p class="speaker-photo"><img src="{{assets}}/images/mugshots/speakers/chris.jpg" alt="Photo of Chris Eppstein"></p>

<p>We're excited to announce, hot off the long anticipated release of Sass 3.3, Chris Eppstein (<a href="https://twitter.com/chriseppstein">@chriseppstein</a>) to rounds our list of invited speakers.</p>

<p>Arguably Sass has, and continues to, improve the way we think about CSS. Which is why we're elated that Chris has taken time away from is work at LinkedIn to come to Melbourne and tell us all "What makes Sass so syntactically awesome".</p>

<p>You undoubtably know him as the creator of Compass, and co-creator of Sass. He's built and contributed to many of Sass' powerful features. But I'll personally always be thankful to him for fixing Sass' [if statement](https://github.com/nex3/sass/pull/934/files#diff-e7c656eed1930f3b7bf24303c710cfd2R289).</p>

<p>If you want to catch Chris Eppstein you should <a href="https://ti.to/cssconf-au/2014">purchase&nbsp;a&nbsp;ticket</a> whilst they’re still&nbsp;available.</p>
