---
title: "Introducing: Nicolas Gallagher"
date: 2014-03-05
path: /news/introducing-nicolas-gallagher
author: Michael Mifsud
layout: news-item-layout.hbs
---

<p class="speaker-photo"><img src="{{assets}}/images/mugshots/speakers/nicolas.jpg" alt="Photo of Nicolas Gallagher"></p>

<p>There are few people whose work becomes an essential part of developing for the web, which is why we’re excited to be announcing yet another one of these individuals: <a href="https://twitter.com/necolas">Nicolas&nbsp;Gallagher</a>.</p>

<p>Nicolas (or <a href="https://twitter.com/necolas">@necolas</a>) was a web developer in the UK before joining the flock at <a href="https://twitter.com/">Twitter</a> as a front-end&nbsp;developer.</p>

<p>He created <a href="http://necolas.github.io/normalize.css/">normalize.css</a> (the updated and gentler cousin of the classic <a href="http://meyerweb.com/eric/tools/css/reset/">reset.css</a>) and contributed to a range of awesome projects including <a href="http://html5boilerplate.com/">HTML5 Boilerplate</a>, <a href="http://bower.io/">Bower</a>, <a href="https://github.com/necolas/idiomatic-css">Idiomatic CSS</a>, and <a href="https://github.com/suitcss/suit">Suit</a> (my personal&nbsp;favourite).</p>

<p>Nicolas has spent years exploring modular CSS patterns, sharing a treasure-trove of techniques on his site <a href="http://nicolasgallagher.com/">nicolasgallagher.com</a>, and regularly challenging conventional wisdoms such as “Don’t use extra elements” and “Don’t use unsemantic class&nbsp;names.”</p>

<p>His breadth of experience provides a unique position to speak about the state of web development, and we couldn’t be more excited to bring him over from San&nbsp;Francisco to share these experiences with us.</p>

<p>If you want to catch Nicolas then <a href="https://ti.to/cssconf-au/2014">grab your ticket</a> whilst they’re still available.</p>
