.news-item {
  .news-video {
    margin-top: 40px;
    .news-video__title {
      font-size: 1.4em;
      .news-video__title__link { text-decoration: none; border-bottom: 1px solid white; }
    }
    .news-video__description { margin-top: .75em; }
    .news-video__embed-wrapper {
      position: relative;
      padding-bottom: (315px / 560px) * 100%;
      height: 0;
      .news-video__embed-wrapper__embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}