.news-list-item {
  position: relative;
  text-decoration: none;
  .news-date, .title {
    line-height: 28px + (10px * 2)
  }
  .news-date {
    width: 6em;
    padding-right: 15px + 15px;
    text-align: right;
    display: inline-block;
    background: transparent url(../images/decorative/line-vertical.svg) center right no-repeat;
    background-size: 15%;
    color: $dark-text-color;
    font-weight: 200;
  }
  .title {
    font-size: 28px;
    padding-left: 10px;
    font-weight: 200;
  }
}