.person-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  li {
    width: 150px;
    text-align: center;
    margin-bottom: 25px;
    list-style: none;
    &.-textonly {
      font-size: 14px;
      line-height: 1.4;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  li a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    span { display: block; }
    .photo {
      @include responsive-image-container(150px,150px);
      img {
        width: 100%;
        border-radius: 50%;
      }
    }
    .name, .twitters {
    }
    .name {
      font-size: 19px;
      margin-top: 10px;
    }
    .twitters {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
    }
    &.-textonly { }
  }
  li + li {
    margin-left: 20px;
  }
}