.person-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  li {
    width: 150px;
    text-align: center;
    margin-bottom: 25px;
    list-style: none;
    &.-textonly {
      font-size: 14px;
      line-height: 1.4;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  li a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    span { display: block; }
    .photo {
      @include responsive-image-container(150px,150px);
      &::before {
        content: ' ';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        box-shadow: inset 0 0 0 0 white;
        z-index: 3;
        transition: box-shadow 250ms;
      }
      img {
        border-radius: 50%;
        width: 100%;
        z-index: 2;
      }
    }
    .name, .twitters {
      line-height: 1.25;
    }
    .name {
      font-size: 19px;
      margin-top: 15px;
    }
    .twitters {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-top: 5px;
    }
    &:hover .photo::before {
      box-shadow: inset 0 0 0 4px white;
    }
  }
  li + li {
    margin-left: 20px;
  }
}