body.home #conference {

  section {
    margin: 35px 0;
  }

  .summary {
    .map {
      float: right;
      width: 31%;
      min-width: 200px;
      div { @include responsive-image-container(400px, 208px); }
      img { width: 100%; }
      margin-left: 6%;
      @media only screen and (max-width: 500px) { float: none; margin: 0 auto 50px auto; width: 90%; }
      @media only screen and (max-width: 400px) { display: none; }
    }
    p {
      font-size: 30px;
      @media only screen and (max-width: 400px) { font-size: 24px; }
    }
  }

  .speakers {
    .person-list {
      margin-top: 35px;
      margin-bottom: 25px;
      @media only screen and (max-width: 400px) { margin-top: 0; }
    }
  }

  .cfp {
    h3 {
      margin-top: 50px;
      margin-bottom: 0;
      img {
        height: 17px;
      }
    }
    > div {
      display: flex;
      @media only screen and (max-width: 600px) {
        flex-flow: column wrap;
        p.submit {
          flex: 1;
          a { width: 100%; text-align: center; }
        }
      }
      p.about {
        flex: 1;
        margin-right: 20px;
      }
      p.submit {
        margin-bottom: 0;
      }
    }
  }

}
