body.home #conference {

  section {
    margin: 35px 0;
  }

  .summary {
    .map {
      float: right;
      width: 31%;
      min-width: 200px;
      div { @include responsive-image-container(400px, 208px); }
      img { width: 100%; }
      margin-left: 6%;
    }
    p {
      font-size: 30px;
    }
  }

  .speakers {
    .person-list {
      margin-top: 75px;
      margin-bottom: 50px;
    }
  }

  .cfp {
    h3 {
      margin-top: 50px;
      margin-bottom: 0;
      img {
        height: 17px;
      }
    }
    > div {
      display: flex;
      p.about {
        flex: 1;
        margin-right: 20px;
      }
      p.submit {
        margin-bottom: 0;
      }
    }
  }

}
