#fringe-events {

  h2 img { height: 125px; }

  article {

    position: relative;
    margin-top: 40px;
    padding-top: 10px;

    @media only screen and (max-width: 900px) { p { max-width: 30em; } }
    @media only screen and (max-width: 800px) { p { max-width: 25em; } }
    @media only screen and (max-width: 700px) { p { max-width: 20em; } }
    @media only screen and (max-width: 600px) { p { max-width: none; } }

    &::before {
      content: ' ';
      display: block;
      position: absolute;
      top: -50px;
      left: 0;
      width: 100%;
      height: 50px;
      background: transparent url(../images/decorative/line.svg) 0 center no-repeat;
      background-size: 100%;
      @media only screen and (max-width: 600px) { background-size: 250% }
      @media only screen and (max-width: 350px) { background-size: 325% }
    }

    &::after {
      content: ' ';
      background-repeat: no-repeat;
      background-position: top right;
      position: absolute;
      top: 10px;
      right: 0;
      @media only screen and (max-width: 600px) { @include small-section-illo; right: auto; max-width: 90%; }
    }

    &.zoo::after {
      background-image: url(../images/illustrations/koala.svg);
      width: 185px;
      height: 240px;
      background-size: 95%;
      right: 50px;
    }

    &.party::after {
      background-image: url(../images/illustrations/party.svg);
      width: 270px;
      height: 174px;
      top: 40px;
      background-size: 95%;
    }

    &.decompress::after {
      background-image: url(../images/illustrations/decompress.svg);
      width: 492px;
      height: 236px;
      top: 90px;
      background-size: 85%;
      @media only screen and (max-width: 600px) { margin-top: -80px; }
    }

    header {
      time, h1, h2 { margin: 0; line-height: 1.2; }
      time {
        display: block; font-size: 14px; font-weight: 400px; text-transform: uppercase; margin-bottom: 10px; letter-spacing: 1px;
        sup { text-transform: lowercase; }
      }
      h1   {
        font-size: 48px; font-weight: 800; line-height: 1.1; margin-bottom: 0;
        a { text-decoration: none; }
      }
      h2   { font-size: 24px; font-weight: 800; text-transform: uppercase; }
    }
    p {
      font-size: 18px;
    }
  }


}