body.home {

  article > section {
    margin: 100px auto;
    h2 {
      margin-top: 50px;
      margin-bottom: 25px;
      img { height: 85px; }
    }
    h3 {
      margin-top: 30px;
      margin-bottom: 15px;
      img { height: 20px; }
    }
    p {
      margin-top: .75em;
      margin-bottom: .75em;
    }
  }

  #conference, #tickets, #fringe-events, #sponsors, #team, #contact {
    @extend %centered;
  }

}

@import "home/summary";
@import "home/conference";
@import "home/tickets";
@import "home/fringe_events";
@import "home/sponsors";
@import "home/team";
@import "home/contact";
