body.home #schedule {

  $circle-radius: 7.5px;
  $circle-border-width: 1px;
  $offset: 30px;
  $off-white: rgba(255, 255, 255, 0.6);

  header {
    margin-bottom: 1.5em;
  }

  .schedule__title,
  .schedule__tagline {
    text-align: center;
    margin: 0;
  }

  .schedule__tagline {
    color: $off-white;
    font-size: 14px;
    max-width: none; // reset style
  }

  > div {
    display: flex;
    justify-content: space-around;
  }

  .schedule__morning,
  .schedule__afternoon {
    display: table;
    table-layout: fixed;
  }

  .schedule__item {
    display: table-row;
    list-style-type: none;
    margin: 0;

    &.schedule__item--minor {
      color: $off-white;
    }
    &.schedule__item--last {
      .schedule__item__description {
        padding-bottom: $offset;
      }
    }
  }

  .schedule__item__video {
    text-decoration: none;
  }

  .schedule__item__time,
  .schedule__item__description {
    display: table-cell;
    vertical-align: top;
    padding: $offset 30px 0;
  }

  .schedule__item__time {
    border-right: 1px solid #fff;
    position: relative;
    width: 9em;
    text-align: right;
    line-height: 24px;
    white-space: nowrap;

    &:after {
      display: block;
      content: " ";
      position: absolute;
      top: $offset + 2px;
      right: -$circle-radius - 1 * $circle-border-width;
      width: $circle-radius * 2;
      height: $circle-radius * 2;
      border-radius: 100%;
      border: $circle-border-width solid #fff;
      background-color: $orange;
    }
  }

  .schedule__item__title,
  .schedule__item__byline {
    display: block;
    margin: 0;
  }

  .schedule__item__time,
  .schedule__item__byline {
    font-size: 13px;
    text-transform: uppercase;
  }

  .schedule__item__title {
    font-size: 24px;
    line-height: 1;
  }

  .schedule__item__byline {
    margin-top: .3em;
    line-height: 1.5;
    min-height: 1.5em;
    font-weight: 400;
    color: $off-white;
  }

  @media only screen and (max-width: 700px) {
    > div {
      align-items: center;
      flex-direction: column;
    }

    .schedule__morning,
    .schedule__afternoon {
      width: 80%;
      table-layout: auto;
    }

    .schedule__item__time, .schedule__item__description {
      width: 50%;
    }

  }
}
