#sponsors {

  h2 img { height: 115px; }

  .logos {
    width: 75%; margin: 50px 0;
    ul {
      list-style: none;
      padding-bottom: 25px;
      background: transparent url(../images/decorative/line.svg) bottom left no-repeat;
      background-size: 135%;
      &:first-of-type {
        margin-top: -30px;
        padding-top: 25px + 20px;
        background-repeat: no-repeat, no-repeat;
        background-image: url(../images/decorative/line.svg), url(../images/decorative/line.svg);
        background-position: bottom left, top left;
      }

      + ul { margin-top: 30px; }
      li {
        display: inline-block; vertical-align: middle;
      }
      &.primary li {
        width: 95%;
      }
      &.medium li {
        width: 50%;
        &.envato img { width: 85%; }
      }
      &.community li {
        width: 30%;
        + li { margin-left: 4%; }
      }
    }
    @media only screen and (max-width: 600px) { width: 90%; text-align: center; }
    @media only screen and (max-width: 400px) {
      width: 100%; text-align: center;
      ul {
        + ul { margin-top: 25px; }
        li {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        &.community {
          li + li { margin-left: auto; margin-top: 10px; }
        }
      }
    }
  }

  p {
    margin-top: 30px;
  }

  &::after {
    content: ' ';
    width: 211px;
    height: 107px;
    position: absolute;
    top: -15px;
    right: 6%;
    background: transparent url(../images/illustrations/cloud.svg) no-repeat;
    background-size: 90%;
    @media only screen and (max-width: 400px) { @include small-section-illo; }
  }

}