#sponsors {

  h2 img { height: 115px; }

  &::after {
    content: ' ';
    width: 211px;
    height: 107px;
    position: absolute;
    top: -15px;
    right: 6%;
    background: transparent url(../images/illustrations/cloud.svg) no-repeat;
    background-size: 90%;
  }

}