#sponsors {

  h2 img { height: 115px; }

  ul { list-style: none; }
  li {
    display: inline-block; padding-right: 6%; width: 35%; vertical-align: middle;
    &.ninety-nine-designs img { width: 79%; }

  }

  @media only screen and (max-width: 700px) {
    li { width: 44%; }
  }

  @media only screen and (max-width: 550px) {
    li {
      display: block; width: 60%; padding-right: 0; margin: auto; text-align: center;
      + li { margin-top: 20px; }
    }
  }

  p.more {
    margin-top: 30px;
  }

  &::after {
    content: ' ';
    width: 211px;
    height: 107px;
    position: absolute;
    top: -15px;
    right: 6%;
    background: transparent url(../images/illustrations/cloud.svg) no-repeat;
    background-size: 90%;
    @media only screen and (max-width: 400px) { @include small-section-illo; }
  }

}