body.home #summary {
  margin-top: 100px;
  background: transparent url(../images/illustrations/header.svg) center bottom no-repeat;
  background-size: 100%;
  padding-bottom: (714px/1996px) * 100%;
  @media only screen and (max-width: 500px) { margin-top: 50px; }
  .logo {
    width: 30%;
    margin: 0 auto -12% auto;
    transform: translateX(-7%);
    @media only screen and (max-width: 900px) { width: 45%; }
    @media only screen and (max-width: 700px) { width: 60%; }
    @media only screen and (max-width: 500px) { width: 75%; }
    @media only screen and (max-width: 350px) { width: 90%; }
    .inner { @include responsive-image-container(1397px, 1080px); }
  }
}