body.home #summary {
  background: transparent url(../images/temp/home-header-background.png) center bottom no-repeat;
  background-size: 100%;
  padding-bottom: (390px/1343px) * 100%;
  .logo {
    max-width: 500px;
    margin: 100px auto 50px auto;
    .inner { @include responsive-image-container(440px, 230px); }
  }
  p {
    max-width: 18em;
    margin: 0 auto -65px auto;
    font-size: 24px;
    font-weight: 200;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}