@keyframes sunny-drop {
  from { transform: scale(.1) rotate(-90deg); opacity: 0; }
  75%  { opacity: .75; }
  to   { transform: scale(1) rotate(-4deg); opacity: 1; }
}

#team {
  h2 img { height: 85px; }

  .benschwarz, .mobywhale, .xzyfer {
    .photo {
      position: relative;
      &::after {
        content: ' ';
        background: transparent url(../images/decorative/sunnies.png) 0 0 no-repeat;
        background-size: 69% 69%;
        width: 124px;
        height: 44px;
        position: absolute;
        z-index: 2;
        display: block;
        animation: sunny-drop .2s cubic-bezier(0.840, 0.020, 0.000, 1.630) forwards paused;
        pointer-events: none;
        transform-origin: 15% 80%;
      }
      &:hover::after { animation-play-state: running; }
    }
  }

  .benschwarz .photo::after { top: 35%; left: 22%; background-size: 67% 67%; }
  .mobywhale .photo::after { top: 31%; left: 37%; background-size: 53% 53%; }
  .xzyfer .photo::after { top: 42%; left: 24%; }
}