#tickets {

  h2 img { height: 115px; }

  &::after {
    content: ' ';
    width: 144px;
    height: 132px;
    position: absolute;
    top: -35px;
    right: 6%;
    background: transparent url(../images/illustrations/tickets.svg) no-repeat;
    background-size: 95%;
    @media only screen and (max-width: 400px) { @include small-section-illo; }
  }

  .tickets-inner {
    display: flex;
    .prices {
      flex: 2;
    }
    .extras {
      flex: 1;
      margin-left: 50px;
      .button {
        @media only screen and (max-width: 400px) { width: 100%; text-align: center; }
      }
    }
    @media only screen and (max-width: 850px) {
      flex-flow: column wrap;
      .prices, .extras { flex: 1; }
      .extras {
        margin-top: 30px;
        margin-left: 0;
        li { margin-left: 1em; }
      }
    }
  }

  .prices table {
    width: 100%;
    border-collapse: collapse;
    line-height: 1;
    th, td {
      border: 2px solid $light-orange;
      padding: 20px 15px 15px;
      @media only screen and (max-width: 400px) { padding: 10px; }
    }
    thead td {
      border-left: none;
      border-top: none;
    }
    thead th, tbody th {
      @media only screen and (max-width: 400px) { font-size: 14px; }
    }
    tbody {
      th {
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: right;
        padding-right: 20px;
        @media only screen and (max-width: 400px) { padding-right: 10px; }
        .until {
          display: block;
          margin-top: 5px;
          font-weight: 200;
          font-size: 21px;
          letter-spacing: 0;
          text-transform: none;
          @media only screen and (max-width: 400px) { font-size: 13px; }
        }
      }
      td {
        font-size: 74px;
        font-weight: 600;
        text-align: center;
        letter-spacing: -3px;
        &:first-letter {
          font-size: 40px;
          vertical-align: super;
          @media only screen and (max-width: 600px) {font-size: 24px; }
          @media only screen and (max-width: 400px) { font-size: 12px; }
        }
        @media only screen and (max-width: 600px) {font-size: 48px; letter-spacing: 0; }
        @media only screen and (max-width: 400px) { font-size: 24px; letter-spacing: 0; }
      }
    }
    tr.inactive td {
      color: $dark-text-color;
    }
  }

  .extras {
    .inclusions {
      margin-bottom: 25px;
    }
  }

}